In [50]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from math import sqrt
from sklearn.metrics import log_loss

In [51]:
data = pd.read_csv('data.csv')
data.head()

,title_words,days_passed,ct_image,ct_tags,ct_words,title_emot_quotient,featured_in_tds,read_time,claps,img/word
0,6.0,1.0,8.0,5.0,2493.0,0.000,True,11.0,683.0,0.003209
1,10.0,1.0,7.0,5.0,2301.0,0.874,True,11.0,696.0,0.003042
2,5.0,2.0,4.0,5.0,547.0,0.000,True,3.0,496.0,0.007313
3,8.0,2.0,2.0,5.0,661.0,0.250,True,3.0,2700.0,0.003026
4,4.0,0.0,5.0,5.0,499.0,0.000,False,3.0,8.0,0.010020

In [54]:
claps=pd.Series(data['claps'])
n_buckets = 50
buckets, bins = pd.cut(claps, n_buckets, labels=False, retbins=True, precision=4) 
bins = pd.Series(bins).apply(lambda x: format(x, 'f'))
bins

0       -19.998000
1       441.960000
2       881.920000
3      1321.880000
4      1761.840000
5      2201.800000
6      2641.760000
7      3081.720000
8      3521.680000
9      3961.640000
10     4401.600000
11     4841.560000
12     5281.520000
13     5721.480000
14     6161.440000
15     6601.400000
16     7041.360000
17     7481.320000
18     7921.280000
19     8361.240000
20     8801.200000
21     9241.160000
22     9681.120000
23    10121.080000
24    10561.040000
25    11001.000000
26    11440.960000
27    11880.920000
28    12320.880000
29    12760.840000
30    13200.800000
31    13640.760000
32    14080.720000
33    14520.680000
34    14960.640000
35    15400.600000
36    15840.560000
37    16280.520000
38    16720.480000
39    17160.440000
40    17600.400000
41    18040.360000
42    18480.320000
43    18920.280000
44    19360.240000
45    19800.200000
46    20240.160000
47    20680.120000
48    21120.080000
49    21560.040000
50    22000.000000
dtype: object

In [55]:
data['new_claps'] = buckets
#data['new_claps'] = data.claps.rank(method='dense').astype(int)
data.head()

,title_words,days_passed,ct_image,ct_tags,ct_words,title_emot_quotient,featured_in_tds,read_time,claps,img/word,new_claps
0,6.0,1.0,8.0,5.0,2493.0,0.000,True,11.0,683.0,0.003209,1
1,10.0,1.0,7.0,5.0,2301.0,0.874,True,11.0,696.0,0.003042,1
2,5.0,2.0,4.0,5.0,547.0,0.000,True,3.0,496.0,0.007313,1
3,8.0,2.0,2.0,5.0,661.0,0.250,True,3.0,2700.0,0.003026,6
4,4.0,0.0,5.0,5.0,499.0,0.000,False,3.0,8.0,0.010020,0

In [56]:
y = data['new_claps']
X = data.drop(['claps', 'new_claps'], axis = 1)

In [57]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.20, random_state=10)

In [66]:
log_reg = LogisticRegression(class_weight='balanced')

In [67]:
log_reg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [70]:
val_pred_prob = log_reg.predict_proba(X_val)

/Users/neerjadoshi/anaconda2/envs/fastai/lib/python3.6/site-packages/sklearn/linear_model/base.py:340: RuntimeWarning: overflow encountered in exp
  np.exp(prob, prob)

In [69]:
log_loss(y_val, val_pred, labels=log_reg.classes_)

2.1875873655151672

In [71]:
val_pred = log_reg.predict(X_val)

In [76]:
val_pred

array([ 9,  0, 10, 33, 10,  0,  8,  3, 14,  0,  1,  0,  0,  0, 15, 29, 15,
        0, 10,  0,  0,  8, 16,  1, 15, 15, 49, 10, 13,  6, 10,  0, 13,  0,
        8, 49,  0,  0,  1,  6,  0,  3,  0,  0,  0, 10,  0,  6,  0,  0,  6,
        0, 15, 15, 16,  9,  0, 13, 15, 11,  0,  0,  0,  0,  0,  7, 49, 49,
        0, 15,  0,  9,  8, 15, 10,  0,  0, 11, 29,  6,  0,  0,  6,  0,  0,
       10,  0, 16,  0,  0, 11,  6,  0, 10,  0, 11,  0,  0,  0,  0,  0,  0,
       49,  9,  0,  0,  3,  0,  0,  0,  0,  0,  0, 13, 49,  5,  0,  0,  0,
        6, 16,  0,  0,  0,  0, 13,  0])